<launch>
  <!-- Robot bringup -->
    <!-- Add your robot bringup -->
    <!-- <include YOUR_ROBOT LAUNCHER />-->

  <!-- Rapp Manager -->  
  <!-- used as a unique identifier -->
  <!-- <arg name="robot_name"    default="YOUR_ROBOT_NAME"/>-->
  <arg name="robot_name"    default="AwesomeBot"/>

  <!-- just in case you are considering a 'variant' and want to make use of this. -->
  <!-- TODO: Link how to add robot type tutorial -->
  <!--<arg name="robot_type"    default="YOUR_ROBOT_TYPE"/>-->
  <arg name="robot_type"    default="robot_other"/>

  <!-- Rocon Master Info -->
  <!--e.g) turtlebot_bringup/turtlebot2.png" -->
  <!--<arg name="robot_icon"    default="<PKG_NAME>/<ICON_FILE>"/> -->
  <arg name="robot_icon"    default="rocon_icons/rocon.png"/>

  <!-- Describe your robot -->
  <arg name="robot_description"         default="This is my awesome robot"/>

  <!-- a list of catkin packages that provide rapps to be loaded by the app manager. -->
  <!-- <arg name="rapp_package_whitelist"    default="[rocon_apps, YOUR_RAPP_PACKAGE]"/> -->
  <arg name="rapp_package_whitelist"    default="[rocon_apps, my_robot_launcher]"/>
  <arg name="rapp_package_blacklist"    default="[]"/>

  <!-- Capabilities(Disabled) -->
  <!-- Interactions(Disabled) -->
  <!-- Concert Configuration -->
  <!-- list of concert names this robot will work with. Empty list means it is open to any concert -->
  <!-- <arg name="concert_whitelist"  default="['YOUR_CONCERT_NAME']"/>-->
  <arg name="concert_whitelist"  default="[]"/>

  <!-- postfix a uuid to robot_name to create unique namespaces for rapps (else manually guarantee unique names for multimaster'ing -->
  <arg name="robot_unique_name"  default="true"/>

  <!-- Debug -->
  <!-- Verbose output from running apps -->
  <arg name="screen" default="true"/>

  <include file="$(find rocon_app_manager)/launch/concert_client.launch">
    <!-- Rapp Manager --> 
    <arg name="robot_name"                    value="$(arg robot_name)" />
    <arg name="robot_type"                    value="$(arg robot_type)" />
    <arg name="robot_icon"                    value="$(arg robot_icon)" />
    <arg name="robot_description"             value="$(arg robot_description)" />
    <arg name="rapp_package_whitelist"        value="$(arg rapp_package_whitelist)" />
    <arg name="rapp_package_blacklist"        value="$(arg rapp_package_blacklist)" />

    <!-- Concert Configuration -->
    <arg name="concert_whitelist"             value="$(arg concert_whitelist)"/>
    <arg name="robot_unique_name"             value="$(arg robot_unique_name)"/>

    <!-- Debug -->
    <arg name="screen"                        value="$(arg screen)"/>
  </include>
</launch>
